@using Blazorise



<div>
    <Bar Breakpoint="Breakpoint.Desktop"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand Style="padding:10px">
        CFA Automation
    </BarBrand>
    <BarToggler @onclick=ToggleNavMenu/>
    <BarMenu>
        <BarStart>
            
        </BarStart>
    </BarMenu>
</Bar>
</div>

@code 
{
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
