@using Blazorise



<div>
    <Bar Breakpoint="Breakpoint.Desktop"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand Style="padding:10px">
        CFA Automation
    </BarBrand>
    <BarToggler @onclick=ToggleNavMenu/>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">Jobs</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Dropdown</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Action</BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem>Another action</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>
</div>

@code 
{
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
